<%= form_tag("/license/verify", method: "post") do %>
  <div class="form-group">
    <%= label_tag(:q, "License key:") %>
    <%= text_field_tag(:license_key, '', {class: 'form-control'}) %>
  </div>

  <%= submit_tag("Submit", {class: 'btn btn-primary'}) %>
<% end %>
