<%= form_tag("/license/verify", method: "post") do %>
  <div class="form-group">
    <%= label_tag(:license_key, "License key") %>
    <%= text_field_tag(:license_key, '', {class: 'form-control', required: true}) %>
  </div>

  <p>
    If this was a trial license you will need to <a href="https://www.missionkontrol.io">buy a license here</a>.
  </p>

  <%= submit_tag("Submit", {class: 'btn btn-primary'}) %>
<% end %>
