<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 m-t-xl m-b-xl">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="text-center">
            <div class="logo-wrapper">
              <a href="/">
                <img src="/assets/images/Kuwinda_logo_full-blue-260.png" alt="">
              </a>
            </div>
          </div>

          <h2>Welcome</h2>

          <hr>

          <p>Welcome to the installation process. You’ll need a license key to get set-up. You can get a trial or full license key from <a href="www.kuwinda.io">www.kuwinda.io</a></p>

          <%= render 'license_form' %>

          <p class="hide">
            <b>Server response:</b> License terminated. If this is unexpected please contact team@kuwinda.io
          </p>

          <p class="hide">
            If this was a trial license you will need to buy a license <a href="www.kuwinda.io">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
