<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-4">
    <h2>
      <span id="enjoyhint-welcome-handler">Welcome</span> 
    </h2>

    <small>There are 52 open work lists items.</small>

    <ul class="list-group clear-list m-t">
      <li class="list-group-item fist-item">
        <span class="label label-success">1</span> Accounts without demos
      </li>

      <li class="list-group-item">
        <span class="label label-info">2</span> Clients slipping away
      </li>

      <li class="list-group-item">
        <span class="label label-primary">3</span> End of trial calls
      </li>

      <li class="list-group-item">
        <span class="label label-default">4</span> Raised a request
      </li>
    </ul>

    <div class="text-right">
      <%= link_to "View all", work_lists_path %>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="flot-chart dashboard-chart">
      <div class="flot-chart-content" id="flot-dashboard-chart"></div>
    </div>

    <div class="row text-left">
      <div class="col-sm-12 col-md-4">
        <div class=" m-l-md">
          <span class="h4 font-bold m-t block">$ 406,100</span>
          <small class="text-muted m-b block">MRR Pipeline total</small>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class=" m-l-md">
          <span class="h4 font-bold m-t block">$ 150,401</span>
          <small class="text-muted m-b block">MRR in trial</small>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class=" m-l-md">
          <span class="h4 font-bold m-t block">$ 16,822</span>
          <small class="text-muted m-b block">MRR in trial</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row" style="">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Acquisition & Activation</h5>
        </div>

        <div class="ibox-content">
          <input type="text" class="form-control input-sm m-b-xs" id="filter"
          placeholder="Search in table">

          <%= render 'aquisitions_and_activations_table' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Engagement</h5>
        </div>

        <div class="ibox-content">
          <%= render 'engagement_chart' %>
        </div>
      </div>
    </div>
  </div>
</div>
