<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-4">
    <h2>Welcome David</h2>

    <small>There are 52 open work lists items.</small>

    <ul class="list-group clear-list m-t">
      <li class="list-group-item fist-item">
        <span class="label label-success">1</span> Accounts without demos
      </li>

      <li class="list-group-item">
        <span class="label label-info">2</span> Clients slipping away
      </li>

      <li class="list-group-item">
        <span class="label label-primary">3</span> End of trial calls
      </li>

      <li class="list-group-item">
        <span class="label label-default">4</span> Raised a request
      </li>
    </ul>

    <div class="text-right">
      <%= link_to "View all", work_lists_path %>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="flot-chart dashboard-chart">
      <div class="flot-chart-content" id="flot-dashboard-chart"></div>
    </div>

    <div class="row text-left">
      <div class="col-xs-4">
        <div class=" m-l-md">
          <span class="h4 font-bold m-t block">$ 406,100</span>
          <small class="text-muted m-b block">MRR Pipeline total</small>
        </div>
      </div>

      <div class="col-xs-4">
        <span class="h4 font-bold m-t block">$ 150,401</span>
        <small class="text-muted m-b block">MRR in trial</small>
      </div>

      <div class="col-xs-4">
        <span class="h4 font-bold m-t block">$ 16,822</span>
        <small class="text-muted m-b block">MRR in trial</small>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 50px auto 50px auto;">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Acquisition & Activation</h5>
      </div>

      <div class="ibox-content">
        <input type="text" class="form-control input-sm m-b-xs" id="filter"
        placeholder="Search in table">

        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
          <thead>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th data-hide="phone,tablet">Platform(s)</th>
              <th data-hide="phone,tablet">Engine version</th>
              <th data-hide="phone,tablet">CSS grade</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeX">
              <td>Trident</td>
              <td>Internet
                Explorer 4.0
              </td>
              <td>Win 95+</td>
              <td class="center">4</td>
              <td class="center">X</td>
            </tr>
            <tr class="gradeC">
              <td>Trident</td>
              <td>Internet
                Explorer 5.0
              </td>
              <td>Win 95+</td>
              <td class="center">5</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeA">
              <td>Trident</td>
              <td>Internet
                Explorer 5.5
              </td>
              <td>Win 95+</td>
              <td class="center">5.5</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Gecko</td>
              <td>Netscape Navigator 9</td>
              <td>Win 98+ / OSX.2+</td>
              <td class="center">1.8</td>
              <td class="center">A</td>
            </tr>

            <tr class="gradeA">
              <td>Webkit</td>
              <td>Safari 1.3</td>
              <td>OSX.3</td>
              <td class="center">312.8</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Webkit</td>
              <td>Safari 2.0</td>
              <td>OSX.4+</td>
              <td class="center">419.3</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Webkit</td>
              <td>Safari 3.0</td>
              <td>OSX.4+</td>
              <td class="center">522.1</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Webkit</td>
              <td>OmniWeb 5.5</td>
              <td>OSX.4+</td>
              <td class="center">420</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Webkit</td>
              <td>iPod Touch / iPhone</td>
              <td>iPod</td>
              <td class="center">420.1</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Webkit</td>
              <td>S60</td>
              <td>S60</td>
              <td class="center">413</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 7.0</td>
              <td>Win 95+ / OSX.1+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 7.5</td>
              <td>Win 95+ / OSX.2+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 8.0</td>
              <td>Win 95+ / OSX.2+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 8.5</td>
              <td>Win 95+ / OSX.2+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 9.0</td>
              <td>Win 95+ / OSX.3+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 9.2</td>
              <td>Win 88+ / OSX.3+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera 9.5</td>
              <td>Win 88+ / OSX.3+</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Opera for Wii</td>
              <td>Wii</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Nokia N800</td>
              <td>N800</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>Presto</td>
              <td>Nintendo DS browser</td>
              <td>Nintendo DS</td>
              <td class="center">8.5</td>
              <td class="center">C/A<sup>1</sup></td>
            </tr>
            <tr class="gradeC">
              <td>KHTML</td>
              <td>Konqureror 3.1</td>
              <td>KDE 3.1</td>
              <td class="center">3.1</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeA">
              <td>KHTML</td>
              <td>Konqureror 3.3</td>
              <td>KDE 3.3</td>
              <td class="center">3.3</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeA">
              <td>KHTML</td>
              <td>Konqureror 3.5</td>
              <td>KDE 3.5</td>
              <td class="center">3.5</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeX">
              <td>Tasman</td>
              <td>Internet Explorer 4.5</td>
              <td>Mac OS 8-9</td>
              <td class="center">-</td>
              <td class="center">X</td>
            </tr>
            <tr class="gradeC">
              <td>Tasman</td>
              <td>Internet Explorer 5.1</td>
              <td>Mac OS 7.6-9</td>
              <td class="center">1</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeC">
              <td>Tasman</td>
              <td>Internet Explorer 5.2</td>
              <td>Mac OS 8-X</td>
              <td class="center">1</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeA">
              <td>Misc</td>
              <td>NetFront 3.1</td>
              <td>Embedded devices</td>
              <td class="center">-</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeA">
              <td>Misc</td>
              <td>NetFront 3.4</td>
              <td>Embedded devices</td>
              <td class="center">-</td>
              <td class="center">A</td>
            </tr>
            <tr class="gradeX">
              <td>Misc</td>
              <td>Dillo 0.8</td>
              <td>Embedded devices</td>
              <td class="center">-</td>
              <td class="center">X</td>
            </tr>
            <tr class="gradeX">
              <td>Misc</td>
              <td>Links</td>
              <td>Text only</td>
              <td class="center">-</td>
              <td class="center">X</td>
            </tr>
            <tr class="gradeX">
              <td>Misc</td>
              <td>Lynx</td>
              <td>Text only</td>
              <td class="center">-</td>
              <td class="center">X</td>
            </tr>
            <tr class="gradeC">
              <td>Misc</td>
              <td>IE Mobile</td>
              <td>Windows Mobile 6</td>
              <td class="center">-</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeC">
              <td>Misc</td>
              <td>PSP browser</td>
              <td>PSP</td>
              <td class="center">-</td>
              <td class="center">C</td>
            </tr>
            <tr class="gradeU">
              <td>Other browsers</td>
              <td>All others</td>
              <td>-</td>
              <td class="center">-</td>
              <td class="center">U</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<br>
