<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-4">
    <h2>Welcome David</h2>

    <small>There are 52 open work lists items.</small>

    <ul class="list-group clear-list m-t">
      <li class="list-group-item fist-item">
        <span class="label label-success">1</span> Accounts without demos
      </li>

      <li class="list-group-item">
        <span class="label label-info">2</span> Clients slipping away
      </li>

      <li class="list-group-item">
        <span class="label label-primary">3</span> End of trial calls
      </li>

      <li class="list-group-item">
        <span class="label label-default">4</span> Raised a request
      </li>
    </ul>

    <div class="text-right">
      <a href="#">View all</a>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="flot-chart dashboard-chart">
      <div class="flot-chart-content" id="flot-dashboard-chart"></div>
    </div>

    <div class="row text-left">
      <div class="col-xs-4">
        <div class=" m-l-md">
          <span class="h4 font-bold m-t block">$ 406,100</span>
          <small class="text-muted m-b block">MRR Pipeline total</small>
        </div>
      </div>

      <div class="col-xs-4">
        <span class="h4 font-bold m-t block">$ 150,401</span>
        <small class="text-muted m-b block">MRR in trial</small>
      </div>

      <div class="col-xs-4">
        <span class="h4 font-bold m-t block">$ 16,822</span>
        <small class="text-muted m-b block">MRR in trial</small>
      </div>
    </div>
  </div>
</div>
