<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 m-t-xl m-b-xl">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="text-center">
            <div class="logo-wrapper">
              <a href="/">
                <img src="/assets/images/Kuwinda_logo_full-blue-260.png" alt="">
              </a>
            </div>
          </div>

          <h2>License invalid</h2>

          <hr>

          <p>You’ll need a valid license key to continue. If this is unexpected please contact team@kuwinda.io</p>

          <%= render 'license_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
