<% @header_container1_items = items_for_container(layout_builder, 'draggable_fields_header_container1')%>
<% @header_container1_items.each do |k, v|  %>
  <% if v["editable"] == "true" %>
    <div class="row">
      <div class="col-xs-10 showme">
        <% if v["table"] == @table_name %>
          <h3><%= @row[v["title"]] %></h3>
        <% else %>
          <% @related_row = get_related_row(@table_name, v["table"], @row["id"]) %>
          <% if @related_row %>
            <h3><%= @related_row[v["title"]] %></h3>
          <% end %>
        <% end %>
      </div>

      <div class="col-xs-2" style="text-align:right; margin:5px auto 0px auto">
        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  <% else %>
    <div class="">
      <% if v["table"] == @table_name %>
        <h3><%= @row[v["title"]] %></h3>
      <% else %>
        <% @related_row = get_related_row(@table_name, v["table"], @row["id"]) %>
        <% if @related_row %>
          <h3><%= @related_row[v["title"]] %></h3>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end  %>
