<% fields_for_header_container2(layout_builder).each do |index, field| %>
  <% if field["table"] == @current_table %>
    <% @current_row = @row %>
  <% else %>
    <% @current_row = get_related_row(@current_table, field["table"], @row["id"]) %>
  <% end %>

  <% if field["editable"] == "true" %>
    <div class="row editable-row">
      <div class="col-xs-12">
        <div class="editable-content-wrapper">
          <% if current_row_valid?(@current_row, field) %>
            <p class="editable-content header-container2-content" onclick="showEditable(event);">
              <%= @current_row[field["title"]] %>
            </p>
          <% else %>
            <p class="editable-content header-container2-content" onclick="showEditable(event);">--</p>
          <% end %>
        </div>

        <%= render partial: 'tables/layout/editable_input', locals: { field: field } %>
      </div>
    </div>
  <% else %>
    <div class="">
      <% if @current_row &&  !@current_row[field["title"]].blank? %>
        <p class="header-container2-content">
          <%= @current_row[field["title"]] %>
        </p>
      <% else %>
        <p class="header-container2-content">--</p>
      <% end %>
    </div>
  <% end %>
<% end  %>
