<% @main_container3_items = items_for_container(layout_builder, 'draggable_fields_main_container3') %>
<% @main_container3_items.each do |k, v|  %>
  <% if v["table"] == @table_name %>
    <p><b><%= v["title"] %></b>: <%= @row[v["title"]] %></p>
  <% else %>
    <% @related_row = get_related_row(@table_name, v["table"], @row["id"]) %>
    <% if @related_row %>
      <p><b><%= v["title"] %></b>: <%= @related_row[v["title"]] %></p>
    <% end %>
  <% end %>
<% end  %>
