<% @side_container_items = items_for_container(layout_builder, 'draggable_fields_side_container') %>
<% @side_container_items.each do |k, v|  %>
  <p><b><%= v["title"] %></b> - <%= @row[v["title"]] %></p>
<% end  %>
