<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 m-t-xl m-b-xl">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "m-t"}) do |f| %>
        <%= devise_error_messages! %>

        <%= render 'form_content', f: f %>
      <% end %>
    </div>
  </div>
</div>
