<div id="new-queue-modal-screen-1">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Welcome to Queues</h4>
    </div>

    <div class="modal-body">
      <p>
        Queues are an extremely efficient way to get your team to carry our structured tasks. We have found that they can make teams x2 to x3 more efficient.
      </p>

      <p>
        This could include calling users who are good candidates for an upgrade or managing a step of your onboarding process or calling leads for welcome calls.
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YiKt8DxBpeg" allowfullscreen></iframe>
      </div>
    </div>

    <div class="modal-footer">
      <a class="btn btn-default" id="queue-builder-modal-next-button">Next</a>
    </div>
  </div>
</div>
