<div class="row " style="border-bottom: 1px solid #eaeaea; margin-bottom: 15px">
  <div class="col-md-4 col-lg-2 ">
    <div class="form-group">
      <% if filter['operator'].nil? %>
        <input type="text" name="" value="WHERE" disabled class="form-control">
      <% else %>
        <input type="text" name="" value="AND" disabled class="form-control">
      <% end %>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-3 ">
    <div class="form-group">
      <%= select_tag(:db_column_names, grouped_options_for_select(@hash_of_tables_and_columns), prompt: "Select a column", class: 'form-control') %>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-1 ">
    <div class="form-group">
      <input type="text" name="" value="is" disabled class="form-control">
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-2 ">
    <div class="form-group">
      <%= select_tag(:db_query_conditons, options_for_select(@array_of_query_conditions), class: 'form-control') %>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-2 ">
    <div class="form-group">
      <input type="text" name="" value="Target value" class="form-control">
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-2 ">
    <div class="form-group" style="text-align: right">
      <a href="" class="btn btn-default" style="margin-bottom: 0">Remove</a>
    </div>
  </div>
</div>
