<div class="row" id="sql-filters-container">
  <% @work_list.sql_filters.each do |filter_attributes| %>
    <%= render 'work_lists/form/sql_filter', filter: SQLFilterFactory.build_sql_filter(filter_attributes["sql_filter"]) %>
  <% end %>
</div>

<div class="row ">
  <div class="col-xs-12" style="text-align: right">
    <%= link_to "Add 'AND'", add_sql_filter_path(sql_filter: { operator: 'and' }), remote: true, method: :post, class: "btn btn-default" %>
    <%= link_to "Add 'OR'", add_sql_filter_path(sql_filter: { operator: 'or' }), remote: true, method: :post, class: "btn btn-default" %>
  </div>
</div>
