<% 2.times do  %>
  <%= render 'work_lists/form/sql_join' %>
<% end  %>

<div class="row">
  <div class="col-xs-12" style="text-align: right">
    <a href="#" class="btn btn-primary">Add Join</a>
  </div>
</div>
