<div id="layout-builder-modal-screen-2" class="<%= current_admin_user.ignore_layout_modal ? '' : 'hide' %>">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Bring your new layout to life</h4>
    </div>

    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="">Give it a name.</label>
          <input type="text" id="layout-builder-modal-form-name" value="" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Primary table.</label>
          <p>Select the primary table that this layout will be based on.</p>
          <%= select_tag 'layout_builder_name',
                          options_for_select(@available_tables, selected: @view_builder.table_name, disabled: @tables_with_layouts),
                          prompt: "Select a table",
                          class: 'form-control',
                          id: 'layout-builder-modal-form-primary-table'
                          %>
        </div>
      </form>
    </div>

    <div class="modal-footer text-align-end">
      <a class="btn btn-default" id="layout-builder-modal-back-button">Back</a>
      <a class="btn btn-default btn-green" id="layout-builder-modal-save-button" data-database-id="<%= @database.id %>">Next</a>
    </div>
  </div>
</div>
