<div id="layout-builder-modal-screen-1">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Welcome to Kuwinda - We’re going to start by building a layout</h4>
    </div>

    <div class="modal-body">
      <p>
        Layouts are a record level view of your data stored in your tables. You’ll need them to view and edit your data.
      </p>

      <p>
        Setting up a layout is easy and the video below explains how it works. Alternatively jump right in and get started with some trial and error.
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YiKt8DxBpeg" allowfullscreen></iframe>
      </div>
    </div>

    <div class="modal-footer">
      <a class="btn btn-default" id="layout-builder-modal-save-button">Next</a>
    </div>
  </div>
</div>
