<div class="ibox float-e-margins" id="viewBuilderPanel" data-view-builder-id="<%= view_builder.id %>" data-user-id="<%= @user.id if @user %>">
  <div class="ibox-title">
    <h5><%= view_builder.view_name %></h5>
  </div>

  <div class="ibox-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <% view_builder.table_headers.each do |thead| %>
            <th><%= thead.humanize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="viewTableBody">
      </tbody>
    </table>
  </div>
</div>
