<div class="ibox float-e-margins">
  <div class="ibox-title">
      <h5>eCorp</h5>
  </div>

  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <strong>Sector:</strong> Financials
        </p>

        <p>
          <strong>Tags:</strong> Financial Services, B2C.
          Information Technology & Services,
          Technology, Marketplace
        </p>

        <p>
          <strong>Description:</strong> escalla supports digital transformation and systems…
        </p>

        <p>
          <strong>Location:</strong> 1 Canada Square, Canary Wharf, London E14 5AJ, UK
        </p>

        <p>
          <strong>Facebook:</strong> [o] 5202 likes
        </p>

        <p>
          <strong>Twitter:</strong> [o[ 4998 followers
        </p>

        <p>
          <strong>Crunchbase:</strong> [link]
        </p>

        <p>
          <strong>Employees range:</strong> 251-1K
        </p>
      </div>
    </div>
  </div>
</div>
