<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= table_name %></h5>

        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <table class="footable table table-stripped default footable-loaded footable-table" data-page-size="2" data-filter=#filter data-sorting="true" data-filtering="true">
          <thead>
            <tr>
              <% objects.first.each do |column| %>
                <th class="footable-visible footable-sortable">
                  <%= column[0] %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% objects.each do |object| %>
              <tr class="gradeX">
                <% object.each do |field| %>
                  <td>
                    <%= field[1] %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


<% content_for :javascript do %>

  <script type="text/javascript">
    $(function() {

      $('.footable').footable();
      $('.footable2').footable();


    });
  </script>

<% end %>
