<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <strong>Email:</strong> jane.mandon@eCorp.com
        </p>

        <p>
          <strong>Location:</strong> London, England GB
        </p>

        <p>
          <strong>Timezone:</strong> Europe/London
        </p>

        <p>
          <strong>Site:</strong> www.duncanmalcolm.com
        </p>

        <p>
          <strong>Twitter:</strong> duncan_m
        </p>

        <p>
          <strong>Linkedin:</strong> in/duncanmalcolm
        </p>

        <div class="text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <button type="button" class="btn btn-outline btn-default width-100" style="">Call</button>
            </div>

            <div class="col-xs-12 col-sm-6">
              <button type="button" class="btn btn-outline btn-default width-100" style="">Email</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
