.edit_organisation_setting {
  label {
    @extend h5;
    @extend .medium;
  }

  input[type=text] {
    border: none;
    background: inherit;
    border-bottom: solid 1px $border-grey;
    width: 80%;
  }

  input[type=submit] {
    background-color: $button-green;
    border-color: $button-green;
    @extend h5;
    @extend .white;
    @extend .bold;
    padding: 5px 30px;
  }
}
