.edit_organisation_setting {
  label {
    @extend h5;
    @extend .medium;
  }

  input[type=text] {
    border: none;
    background: inherit;
    border-bottom: solid 1px $border-grey;
    width: 80%;
  }
}

input {
  padding-bottom: 5px;
  margin-bottom: 5px;
}
