input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.edit_organisation_setting,
.editable-input,
.edit_database,
#new_database {
  label {
    @extend h5;
    @extend .medium;
  }

  input[type=text],
  input[type=number],
  input[type=password],
  select {
    border: none;
    background: inherit;
    border-bottom: solid 1px $border-grey;
    width: 80%;
  }
}

.form-input {
  border: none;
  background: inherit;
  border-bottom: solid 1px $border-grey;
  width: 80%;
}

input {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#new_database {
  select {
    width: 80%;
    border: none;
    border-bottom: solid 1px $border-grey;
    background: url(/assets/images/icons/triangle.svg) no-repeat;
    background-position: 96% 50%;
    cursor: pointer;
    border-radius: 0px;
    -webkit-appearance: none;
    /* for webkit browsers */
    -moz-appearance: none;
    /* for firefox */
    appearance: none;
    /* for modern browsers */
  }

  select::-ms-expand {
    display: none;
  }
}

.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none;
}
