/* Borders */

.border-bottom {
  border-bottom: 1px solid $border-color !important;
}

.border-left {
  border-left: 1px solid $border-color;
}

.border-right {
  border-right: 1px solid $border-color;
}

.border-left-right {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

/* MARGINS & PADDINGS */

.margin-top-20 {
  margin-top: 20px;
}

.no-margin {
  margin: 0 !important;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-space {
  margin-top: 20px;
  margin-bottom: 10px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.text-align-end {
  text-align: right;
}

.align-right {
  text-align: right;
}

.btn-right {
  margin: 0 0 0 auto;
}

.margin-top-nav {
  margin-top: 2.5%;
}

.no-padding {
  padding: 0 !important;
}

.padding-bottom {
  padding-bottom: 50px;
}

.p-w-sm {
  padding: 0 15px;
}

.p-w-xxs {
  padding: 0 5px;
}

.p-h-xs {
  padding: 10px 0;
}

.m-t {
  margin-top: 15px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-r {
  margin-right: 15px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.space-20 {
  margin: 20px 0;
}
