<table class="table table-hover activities-history--table">
  <tbody>
    <% activities.each do |activity| %>
      <%= render 'activities/activity', activity: activity %>
    <% end %>
  </tbody>
</table>