<div class="ibox float-e-margins">
  <div class="ibox-title">
      <h5>Basic IN+ Panel <small class="m-l-sm">This is custom panel</small></h5>
      <div class="ibox-tools">
          <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
          </ul>
          <a class="close-link">
              <i class="fa fa-times"></i>
          </a>
      </div>
  </div>

  <div class="ibox-content">
    <h2>
        This is standard IN+ Panel<br>
    </h2>
    <p>
        <strong>Lorem ipsum dolor</strong>
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
    <p>
        <small>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
        </small>
    </p>
  </div>

  <div class="ibox-footer">
    <span class="pull-right">
      The righ side of the footer
    </span>
    This is simple footer example
  </div>
</div>
