<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1><%= title %></h1>

    <ol class="breadcrumb">
      <% items.each do |item| %>
        <li class="breadcrumb-item">
          <%= item %>
        </li>
      <% end %>
    </ol>
  </div>
</div>