<div class="row table--filter-bar-container hide">
  <div class="col-sm-12 table--filter-bar">
    <div class="filter-bar--info">
      <div class="filter-bar--selected">
        <h5 class="white">1 filter selected</h5>
      </div>
      <div class="filter-bar--seperator">
        <h5 class="white">|</h5>
      </div>
      <div class="filter-bar--clear">
        <h5 class="white">
          Clear filters
        </h5>
      </div>
    </div>
  </div>
</div>