<div class="row  border-bottom white-bg dashboard-header" style="height: 100vh">
  <div class="col-sm-12 text-center">
    <div class="text-center">
      <h1>Welcome to MissionKontrol</h1>

      <div>
        <%= link_to 'Register', new_admin_user_registration_path %> |
        <%= link_to 'Dashboard', dashboard_path %>
      </div>
    </div>
  </div>
</div>
