---
http_interactions:
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Required."]}}'
  recorded_at: Wed, 29 May 2019 15:30:53 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=&license_key=&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Required."]}}'
  recorded_at: Wed, 29 May 2019 15:31:00 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=not_a_license_key&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Wed, 29 May 2019 15:42:01 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=not_a_license&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Fri, 31 May 2019 09:45:35 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=&license_key=not_a_license&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"activation_id":["Required."]}}'
  recorded_at: Fri, 31 May 2019 09:54:03 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=invalid_license&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Fri, 31 May 2019 13:06:50 GMT
[...]
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=not_a_license&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Sun, 02 Jun 2019 11:29:46 GMT
recorded_with: VCR 4.0.0
