---
http_interactions:
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=cF320SNdpxlZZXZ06gzY33Gx5i-30&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Sun, 02 Jun 2019 12:43:06 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=cF320SNdpxlZZXZ06gzY33Gx5i-30&sku=1&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"status":200,"message":"License Key activated successfully.","data":{"expire":null,"downloadable":null,"ctoken":"5cf152e925c31","activation_id":1559479387,"expire_date":null,"timezone":null,"the_key":"cF320SNdpxlZZXZ06gzY33Gx5i-30","url":"https:\/\/www.kuwinda.io\/my-account\/?view-license-key=1&key=cF320SNdpxlZZXZ06gzY33Gx5i-30","has_expired":false,"status":"active","allow_offline":false,"offline_interval":null,"offline_value":null,"subscription_status":"trial","subscription_is_trial":true}}'
  recorded_at: Sun, 02 Jun 2019 12:43:07 GMT
recorded_with: VCR 4.0.0
