---
http_interactions:
- request:
    method: get
    uri: https://www.missionkontrol.io/wp-json/lmfwc/v2/licenses/not_a_valid_key?consumer_key=ck_f7ee148e0937dc5c183e14703f5afc36da2080e7&consumer_secret=cs_1cb993c7f8c0e53cb3ad4cf83eb8af79e340436b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.missionkontrol.io/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET, POST, PUT, PATCH
    body:
      encoding: UTF-8
      string: '{"code":"lmfwc_rest_data_error","message":"License Key: not_a_valid_key
        could not be found.","data":{"status":404}}'
  recorded_at: Sun, 05 Apr 2020 10:27:05 GMT
- request:
    method: get
    uri: https://www.missionkontrol.io/wp-json/lmfwc/v2/licenses/activate/not_a_valid_key?consumer_key=ck_f7ee148e0937dc5c183e14703f5afc36da2080e7&consumer_secret=cs_1cb993c7f8c0e53cb3ad4cf83eb8af79e340436b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.missionkontrol.io/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"code":"lmfwc_rest_data_error","message":"License Key: not_a_valid_key
        could not be found.","data":{"status":404}}'
  recorded_at: Sun, 05 Apr 2020 10:27:08 GMT
recorded_with: VCR 4.0.0
