---
http_interactions:
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=1558260633&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"status":200,"message":"License Key is valid.","data":{"expire":1560669447,"downloadable":{"name":"Docker+install+script","url":"https:\/\/www.kuwinda.io\/wp-content\/uploads\/2019\/05\/auto-install.sh_.zip"},"ctoken":"5ceea53c27da3","activation_id":1558260633,"expire_date":"2019-06-16
        07:17","timezone":"UTC","the_key":"wcCXJZ5fd3TdekwrB5No912UO2-26","url":"https:\/\/www.kuwinda.io\/my-account\/?view-license-key=1&key=wcCXJZ5fd3TdekwrB5No912UO2-26","has_expired":false,"status":"active","allow_offline":false,"offline_interval":null,"offline_value":null}}'
  recorded_at: Wed, 29 May 2019 15:30:23 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"status":200,"message":"License Key activated successfully.","data":{"expire":1560669447,"downloadable":{"name":"Docker+install+script","url":"https:\/\/www.kuwinda.io\/wp-content\/uploads\/2019\/05\/auto-install.sh_.zip"},"ctoken":"5ceea53c27da3","activation_id":1559143854,"expire_date":"2019-06-16
        07:17","timezone":"UTC","the_key":"wcCXJZ5fd3TdekwrB5No912UO2-26","url":"https:\/\/www.kuwinda.io\/my-account\/?view-license-key=1&key=wcCXJZ5fd3TdekwrB5No912UO2-26","has_expired":false,"status":"active","allow_offline":false,"offline_interval":null,"offline_value":null}}'
  recorded_at: Wed, 29 May 2019 15:30:54 GMT
[...]
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=1&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Fri, 31 May 2019 13:43:56 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=1&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"activation_id":["Required."]}}'
  recorded_at: Fri, 31 May 2019 13:43:56 GMT
[...]
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=full_license&sku=1&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Fri, 31 May 2019 13:59:18 GMT
[...]
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=&license_key=&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Required."]}}'
  recorded_at: Fri, 31 May 2019 14:11:49 GMT
recorded_with: VCR 4.0.0
