---
http_interactions:
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=1558260633&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"status":200,"message":"License Key is valid.","data":{"expire":1560669447,"downloadable":{"name":"Docker+install+script","url":"https:\/\/www.kuwinda.io\/wp-content\/uploads\/2019\/05\/auto-install.sh_.zip"},"ctoken":"5ce12b996c84e","activation_id":1558260633,"expire_date":"2019-06-16
        07:17","timezone":"UTC","the_key":"wcCXJZ5fd3TdekwrB5No912UO2-26","url":"https:\/\/www.kuwinda.io\/my-account\/?view-license-key=1&key=wcCXJZ5fd3TdekwrB5No912UO2-26","has_expired":false,"status":"active","allow_offline":false,"offline_interval":null,"offline_value":null}}'
  recorded_at: Sun, 19 May 2019 10:57:30 GMT
[...]
- request:
    method: post
<<<<<<< Updated upstream
=======
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"activation_id":["Required."]}}'
  recorded_at: Wed, 29 May 2019 14:47:43 GMT
- request:
    method: post
>>>>>>> Stashed changes
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=wcCXJZ5fd3TdekwrB5No912UO2-26&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< Updated upstream
      - tk_ai=woo%3ACOhzAiRaDn92y1qik4DbShku; path=/
=======
      - tk_ai=woo%3AoeVtsk6QZVzoZjaVjqmrf5EE; path=/
>>>>>>> Stashed changes
      X-Robots-Tag:
      - noindex
      X-Content-Type-Options:
      - nosniff
      Expires:
      - Wed, 11 Jan 1984 05:00:00 GMT
      Cache-Control:
      - no-transform, no-cache, must-revalidate, max-age=0
      X-Frame-Options:
      - SAMEORIGIN
      Referrer-Policy:
      - strict-origin-when-cross-origin
      Content-Type:
      - application/json
      Content-Length:
      - '588'
      Date:
<<<<<<< Updated upstream
      - Wed, 29 May 2019 15:29:00 GMT
=======
      - Wed, 29 May 2019 14:53:13 GMT
>>>>>>> Stashed changes
      Server:
      - LiteSpeed
      Vary:
      - User-Agent
      Alt-Svc:
      - quic=":443"; ma=2592000; v="35,39,43,44"
      Connection:
      - Keep-Alive
    body:
      encoding: UTF-8
<<<<<<< Updated upstream
      string: '{"error":false,"status":200,"message":"License Key activated successfully.","data":{"expire":1560669447,"downloadable":{"name":"Docker+install+script","url":"https:\/\/www.kuwinda.io\/wp-content\/uploads\/2019\/05\/auto-install.sh_.zip"},"ctoken":"5ceea1d14bb6a","activation_id":1559143740,"expire_date":"2019-06-16
        07:17","timezone":"UTC","the_key":"wcCXJZ5fd3TdekwrB5No912UO2-26","url":"https:\/\/www.kuwinda.io\/my-account\/?view-license-key=1&key=wcCXJZ5fd3TdekwrB5No912UO2-26","has_expired":false,"status":"active","allow_offline":false,"offline_interval":null,"offline_value":null}}'
  recorded_at: Wed, 29 May 2019 15:29:00 GMT
[...]
