---
http_interactions:
- request:
    method: get
    uri: https://www.missionkontrol.io/wp-json/lmfwc/v2/licenses/2222222?consumer_key=ck_f7ee148e0937dc5c183e14703f5afc36da2080e7&consumer_secret=cs_1cb993c7f8c0e53cb3ad4cf83eb8af79e340436b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.missionkontrol.io/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET, POST, PUT, PATCH
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":"2","orderId":"2985","productId":"336","licenseKey":"2222222","expiresAt":null,"validFor":null,"source":"2","status":"4","timesActivated":null,"timesActivatedMax":"3","createdAt":"2020-04-05
        08:26:31","createdBy":"4","updatedAt":"2020-04-05 08:36:01","updatedBy":"4"}}'
  recorded_at: Sun, 05 Apr 2020 08:49:50 GMT
- request:
    method: get
    uri: https://www.missionkontrol.io/wp-json/lmfwc/v2/licenses/activate/2222222?consumer_key=ck_f7ee148e0937dc5c183e14703f5afc36da2080e7&consumer_secret=cs_1cb993c7f8c0e53cb3ad4cf83eb8af79e340436b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.missionkontrol.io/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":"2","orderId":"2985","productId":"336","licenseKey":"2222222","expiresAt":null,"validFor":null,"source":"2","status":"4","timesActivated":"1","timesActivatedMax":"3","createdAt":"2020-04-05
        08:26:31","createdBy":"4","updatedAt":"2020-04-05 08:49:50","updatedBy":"4"}}'
  recorded_at: Sun, 05 Apr 2020 08:49:50 GMT
recorded_with: VCR 4.0.0
