---
http_interactions:
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=not_a_license&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Wed, 29 May 2019 15:30:56 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_validate&activation_id=1558260633&license_key=&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Required."]}}'
  recorded_at: Wed, 29 May 2019 15:31:05 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=invalid_license&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Invalid license
        key."]}}'
  recorded_at: Fri, 31 May 2019 13:06:50 GMT
[...]
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=&sku=2&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Required."]}}'
  recorded_at: Wed, 12 Jun 2019 13:53:29 GMT
- request:
    method: post
    uri: https://www.kuwinda.io/wp-admin/admin-ajax.php?action=license_key_activate&license_key=&sku=1&store_code=Z0cm9LxK3jFtbX7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"status":500,"errors":{"license_key":["Required."]}}'
  recorded_at: Wed, 12 Jun 2019 13:53:30 GMT
recorded_with: VCR 4.0.0
