---
http_interactions:
- request:
    method: get
    uri: https://www.missionkontrol.io/wp-json/lmfwc/v2/licenses/P2FQ-8HKN-26CC-LINF-QCRI-DP0J?consumer_key=ck_f7ee148e0937dc5c183e14703f5afc36da2080e7&consumer_secret=cs_1cb993c7f8c0e53cb3ad4cf83eb8af79e340436b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.missionkontrol.io/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET, POST, PUT, PATCH
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":"1","orderId":"2985","productId":"336","licenseKey":"P2FQ-8HKN-26CC-LINF-QCRI-DP0J","expiresAt":null,"validFor":"0","source":"1","status":"3","timesActivated":"3","timesActivatedMax":"3","createdAt":"2020-04-04
        14:57:28","createdBy":"1","updatedAt":"2020-04-04 17:19:43","updatedBy":"4"}}'
  recorded_at: Sun, 05 Apr 2020 10:34:24 GMT
recorded_with: VCR 4.0.0
