<div class="tooltip_templates">
  <span id="tooltip_content">
      <%= link_to 'Enable', permissions_enable_all_path, remote: true %>
      <br/>
      <%= link_to 'Disable', permissions_disable_all_path, remote: true %>
  </span>
</div>