<%= render 'shared/page_banner_header', title: 'Settings', items: ['Settings', 'Permissions'] %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <table id="target-table-permissions" class="data-table-permissions table" data-table-name='permissions'>
        <thead>
          <tr>
            <% @headers.each do |header|%>
              <th class='column-<%= header %>'><%= header.humanize %></th>
            <% end %>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>