# Configuration improvements
server_tokens off;
tcp_nopush on;
tcp_nodelay on;
gzip_buffers 16 8k;
gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
# Look for client IP in the X-Forwarded-For header
real_ip_header X-Forwarded-For;

map $http_upgrade $connection_upgrade {
    default   "upgrade";
    ""        "";
}
upstream app_srv {
    server {{ default .Env.APP_SERVER_ADDR "127.0.0.1" }}:{{ default .Env.APP_SERVER_PORT "3000" }};
    keepalive 256;
}

server {
    listen {{ default .Env.WEB_SERVER_PORT "80" }} default_server deferred;

    root {{ default .Env.APP_HOME "/app" }}/public;
    access_log {{ default .Env.APP_HOME "/app" }}/log/nginx.access.log;
    error_log {{ default .Env.APP_HOME "/app" }}/log/nginx.error.log info;

    {{ if isTrue (default .Env.RAILS_SERVE_STATIC_FILES "false") }}
    location ^~ /assets/ {
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }
    {{ end }}

    location / {
        proxy_pass          http://app_srv;
        proxy_http_version  1.1;
        proxy_redirect      off;

        proxy_set_header    Connection        $connection_upgrade;
        proxy_set_header    Upgrade           $http_upgrade;
        proxy_set_header    Host              $host;
        proxy_set_header    X-Real-IP         $remote_addr;
        proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Host  $server_name;
    }
}
