<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>
          <strong>Phone number:</strong> +44 (0)791 700 1000
         </p>

         <p>
           <strong>Email:</strong> jane.mandon@eCorp.com
          </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <p>
          <strong>Last timezone:</strong> GMT
         </p>

        <p>
          <strong>Last location: </strong> London, UK
         </p>

        <p>
          <strong>MRR:</strong> £3,000
         </p>

        <p>
          <strong>Payment method:</strong> Recurly
         </p>

        <p>
          <strong>Subscription status:</strong> Active
         </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <p>
          <strong>Last login: </strong>Yesterday 3:10pm
         </p>

        <p>
          <strong>Last trade: </strong> 3 months ago
         </p>

        <p>
          <strong>Total trades:</strong> Total trades: 432
         </p>
      </div>
    </div>
  </div>
</div>
