<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Users</h5>
  </div>

  <div class="ibox-content">
    <input type="text" class="form-control input-sm m-b-xs" id="filter"
    placeholder="Search in table">

    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
      <thead>
        <tr>
          <th>Name</th>
          <th data-hide="phone">Role</th>
          <th data-hide="phone">Last Login</th>
        </tr>
      </thead>


      <tbody>
        <tr>
          <td>Camilla van Klinken</td>
          <td>CTO</td>
          <td>Today 4:32pm</td>
        </tr>

        <tr>
          <td>Jane Harrop</td>
          <td>CSM</td>
          <td>03/05/2018</td>
        </tr>

        <tr>
          <td>Jane Mandon</td>
          <td>CEO</td>
          <td>03/05/2018</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="5">
            <ul class="pagination pull-right"></ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
