<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Companies</h2>

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', dashboard_path %>
      </li>

      <li>
        <span>Customers</span>
      </li>

      <li class="active">
        <strong>Companies</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Companies</h5>
        </div>

        <div class="ibox-content">
          <input type="text" class="form-control input-sm m-b-xs" id="filter"
          placeholder="Search in table">

          <%= render 'companies_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
