<br />
<div class="wrapper wrapper-content animated">
  <div class="">
    <div class="panel-heading"><h1>Oh no! Something seems to have gone wrong!</h1></div>
    <div class="panel-body">
      <p>Try reload the page or visit the <%= link_to 'dashboard', dashboard_path %>.</p>
      <br />
      <h4 class="text-center">If that fails please speak to a system administrator.</h4>
    </div>
  </div>
</div>