<br />
<div class="wrapper wrapper-content animated">
  <div class="">
    <div class="panel-heading"><h1>Oh no! You're trying to access something you don't have permissions to access!</h1></div>
    <div class="panel-body">
      <h4 class="text-center">Please speak to a system administrator if you believe this to be wrong.</h4>
    </div>
  </div>
</div>