<div class="ibox margin-bottom">
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-12">
        <% @row.first(5).each do |k, v| %>
          <p>
            <strong><%= k %>:</strong> <%= v %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
