<div class="table-responsive">
  <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
    <thead>
      <tr>
        <% @target_db_repo.all.columns.each do |c|%>
          <th data-sort-ignore="true"><%= c %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @target_db_repo.all.each do |r|%>
        <tr class="">
          <% r.each do |k, v|%>
            <td><%= v %></td>
          <% end %>

          <td>
            <%= link_to 'View Record', table_record_preview_url(@target_db_repo.table, r['id']) %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan=<%= @target_db_repo.all.columns.size + 1 %>>
          <ul class="pagination pull-right"></ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
