<div class="table-responsive">
  <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
    <thead>
      <tr>
        <% @headers.each do |header|%>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @rows.each do |r|%>
        <tr class="">
          <% r.each_with_index do |(k, v), i| %>
            <td class="clickable-row" data-href='<%= table_record_preview_path(table: @target_db_repo.table, table_name: @target_db_repo.table.downcase, record_id: r['id']) %>'>
              <% if r['id'] %>
                <%= v %>
              <% else %>
                --
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan=<%= @headers.size + 1 %>>
          <ul class="pagination pull-right"></ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
