<h1>
  Bad connection
</h1>

<p>
  We're really sorry but the connection to your database has been lost. Please check your <%= link_to 'database settings', edit_admin_user_registration_path %> and then refresh the page.
</p>
