<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @current_table.capitalize %></h2>

    <ol class="breadcrumb">
      <li>
        <span>Tables</span>
      </li>

      <li class="active">
        <strong><%= @current_table.capitalize %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content tables-view">
          <br>
          <%= render 'data_table', current_table: @current_table %>
        </div>
      </div>
    </div>
  </div>
</div>
