<%= render 'shared/page_banner_header', title: @current_table.capitalize, items: ['Database', @current_table.capitalize] %>

<div class="wrapper wrapper-content animated ">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content tables-view">
          <br>
          <%= render 'data_table', current_table: @current_table, table_settings: @current_table_settings %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="table--settings-modal"></div>

<div id="table--add-record-modal"></div>

<div id="table--edit-record-modal"></div>