<div id="task-queue-preview-container">
    <div class="task-queue-preview-item">
      <div class="row min-height-100vh no-margin">
        <div class="col-sm-4 min-height-100vh">
          <div class="" style="">
            <br>
            <div class="" id="task-queue-field-settings-preview-container">
              <% task_queue_draggable_field_settings_container(@task_queue).each do |field| %>
                <p><b><%= field[1]["title"] %></b></p>
                <div class="divider"></div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-sm-8 gray-bg min-height-100vh">
          <br>
          <%= render 'shared/activity_history_template', feedable_type: 'task_queue', feedable_id: @task_queue.id %>
        </div>
      </div>
    </div>
</div>
