<br>
<h2 class="bold">Results</h2>
<br>
<div class="table-responsive no-overflow">
  <table id="task-queue-preview-table" class="table hide" data-paging="true"  data-table-name="<%= @task_queue.table %>" data-database-id="<%= @task_queue.database_id %>">
    <thead>
      <% if @task_queue_headers %>
        <tr>
          <% @task_queue_headers.each do |header|%>
            <th class='column-<%= header %>'><%= header.humanize %></th>
          <% end %>
        </tr>
      <% end %>
    </thead>

    <tbody></tbody>
  </table>
</div>
