<div class="hide" id="database-id">
  <%= @database.id %>
</div>
<div class="row">
  <div class="col-sm-12">
    <br>
    <div id="builder" data-task-queue-table="<%= @task_queue.table %>" data-task-queue-id="<%= @task_queue.id %>" data-task-queue-rules="<%= @task_queue.query_builder_rules %>"></div>
    <br>
    <button type="button" name="button" class="btn btn-primary pull-right task-queue-update-button" id="task-queue-update-button">View Results</button>
  </div>
</div>