<div class="row">
  <div class="col-sm-12">
    <br>
    <div id="builder"></div>
    <br>
    <h3>Query Builder Rules</h3>
    <textarea name="" class="qb-rules form-control" id="myTextarea"></textarea>
    <br>
    <button id="btn-get" type="button" name="button" class="btn btn-success">Show rules</button>
    <br>
  </div>
</div>

<div class="modal fade" id="new-queue-modal" tabindex="-1" role="dialog" aria-labelledby="new-queue-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: 'task_queues/new/new_queue_modal_screen_1' %>
    <%= render partial: 'task_queues/new/new_queue_modal_screen_2' %>
  </div>
</div>
