<div class="row">
  <div class="col-sm-12">
  </div>
</div>

<div class="modal fade" id="new-task-queue-modal" tabindex="-1" role="dialog" aria-labelledby="new-task-queue-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: 'task_queues/new/new_queue_modal_screen_1' %>
    <%= render partial: 'task_queues/new/new_queue_modal_screen_2' %>
  </div>
</div>