<div class="task-queue-create-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#task-queue-general-settings" aria-controls="task-queue-general-settings" role="tab" data-toggle="tab" class="">
        <i class="fa fa-database" aria-hidden="true"></i>
      </a>
    </li>

    <li role="presentation">
      <a href="#task-queue-outcome-settings" aria-controls="task-queue-outcome-settings" role="tab" data-toggle="tab" class="">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
