<div class="users-teams--container">
  <div class="users-teams--header">
    <h5 class="medium">TEAMS</h5>
    <h5 class="hide float-right"><img src="/assets/images/icons/plus.png"> Add</h5>
  </div>
  <div class="users-teams--table">
    <table>
      <% @admin_user_roles.sort.each do |role, users_count| %>
        <tr>
          <td class="users-teams--table-data" data-role="<%= role %>">
            <%= role %>
          </td>
          <td class="users-teams--count">
            <%= pluralize users_count, "user" %>
          </td>
          <td class="float-right">
            <a class='team--edit-link' data-remote='true' href="/roles/edit?name=<%= role %>"><img src='/assets/images/icons/edit.png'></a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
