<div class="users-teams--container">
  <div class="users-teams--header">
    <h5>TEAMS</h5>
    <h5 class="hide float-right"><img src="/assets/images/icons/plus.png"> Add</h5>
  </div>
  <div class="users-teams--table">
    <table>
      <% @admin_user_roles.sort.each do |role, users_count| %>
        <tr>
          <td class="users-teams--table-data">
            <%= link_to role, edit_roles_path(name: role), remote: true %>
          </td>
          <td class="float-right">
            <%= pluralize users_count, "user" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
