<%= render 'shared/page_banner_header', title: 'Settings', items: ['Settings', 'Users'] %>

<div class="wrapper wrapper-content animated">
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12" id="users--team-partial">
          <%= render partial: 'teams' %>
        </div>
        <div class="col-sm-12" id="users--status-partial">
          <%= render partial: 'status' %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="ibox float-e-margins">
        <div class="">
          <%= render partial: 'users_table' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="users--edit-modal"></div>

<div id="users--new-modal"></div>

<div id="roles--edit-modal"></div>
