.toast {
  background-color: #030303
}

.toast-success {
  background-color: $blueberry;
}

.toast-error {
  background-color: $info-red;
}

.toast-info {
  background-color: $cool-blue;
}

.toast-warning {
  background-color: $dark-salmon;
}