.users-teams--container {
  padding-top: 16%;
}

.users-status--container {
  padding-top: 10%;
}

.users-teams--header, .users-status--header {
  h5 {
    display: inline;
  }
}

.users-teams--table, .users-status--table {
  table {
    width: 100%;

    tr {
      border-bottom: solid 1px $dark-gray;
    }

    td {
      padding: 8px 0;
    }
  }

  .users-teams--table-data, .users-status--table-data {
    color: $blueberry;
    @extend h5;
    @extend .medium;
  }

  .users-teams--count {
    width: 20%;
  }
}

.user--team-dropdown {
  padding-top: 10px;

  .dropdown {
    border: none;

    select {
      border: none;
      border-bottom: solid 0.5px #979797;
      width: 100px;
      padding-bottom: 3px;
      background: url(/assets/images/icons/triangle.svg) no-repeat;
      background-position: 85px 8px;
      border-radius: 0px;
    }

    #dropdown, #team {
      -webkit-appearance: none;
      /* for webkit browsers */
      -moz-appearance: none;
      /* for firefox */
      appearance: none;
      /* for modern browsers */
    }

    #dropdown::-ms-expand, #team::-ms-expand {
      display: none;
    }

    #dropdown:focus:invalid, #team:focus:invalid {
      border-color: #FD6347;
    }

    #dropdown:required:valid, #team:required:valid {
      border-color: #006400;
    }
  }
}

.user--edit-link {
  float: right;
  padding-right: 20px;

  img {
    height: 14px;
    width: 14px;
  }
}

.user--modal-edit-button {
  cursor: pointer;
  display: inline-block;
  padding-left: 11px;

  img {
    height: 14px;
    width: 14px;
    vertical-align: inherit;
  }
}