.users-teams--container, .users-status--container {
  padding-top: 21px;
}

.users-teams--header, .users-status--header {
  h5 {
    display: inline;
  }
}

.users-teams--table, .users-status--table {
  table {
    width: 100%;

    tr {
      border-bottom: solid 1px $dark-gray;
    }

    td {
      padding: 8px 0;
    }
  }

  .users-teams--table-data, .users-status--table-data {
    color: $purple;
    font-weight: 500;
  }
}