/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require toastr/toastr.min.css
 *= require footable-bootstrap/footable.bootstrap.min.css
 *= require enjoyhint/enjoyhint.css
 *= require dualListbox/bootstrap-duallistbox.min.css
 *= require font-awesome
 *= require site
 *= require devise
 *= require view_builder
 *= require layout_builder
 *= require table
 *= require_self
 */


/*
  inspinia theme overides
*/
.navbar.navbar-static-top {
  background-color: inherit;
}

/*
  helper classes
*/
.showme {
  border: 1px solid red;
}

.margin-top-20 {
  margin-top: 20px;
}

.width-100 {
  width: 100%;
}

.alert ul {
  list-style-type: none;
}

.p-w-xxs {
  padding: 0 5px;
}

.logo-element {
  padding: 10px;
}
.logo-element .thumbnail {
  width: 100%;
}

.footable-filtering-search {
  width: 75vw;
}

.footable-filtering-search input {
  margin-right: 20px
}

.footable-filtering-search .input-group {
  width: 100% !important;
}

.footable-filtering-search .dropdown-toggle {
  display: none;
}
