.underline_light {
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E6E6;
}

.registration-form-logo {
  font-size: 8rem;
  margin: 20px auto;
  color: #00a8ff;
  font-weight: 600;
}

.logo-wrapper {
  img {
    width: 260px;
  }

  margin: 25px 0;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
