#layout_setting_form .bootstrap-duallistbox-container.row {
  margin: 0;
}

.layout-builder-nav-item {
  margin: 10px 10px;
  padding: 10px 5px;
  text-align:center;
  border-radius: 3px;
  display: block;
}

.layout-builder-nav-item.active {
  background-color: #e9e9e9;
}

.layout-placeholder {
  border: 1px dashed gray;
  min-height: 20px;
  margin: 10px 0;
}

.layout-builder-draggable-field {
  padding: 10px 5px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  margin-bottom: 10px;
  text-transform: capitalize;
  z-index: 1;
  background-color: white;
}

#layout-builder-draggable-trash-container {
  margin-top: 0;
  padding: 10px;
  border: 1px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 3px;

  p {
    margin-top: 10px;
  }
}

.layout-builder-side-nav {
  min-height: 100%;
  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}

.light-border-bottom {
  border-bottom: 1px solid #F3F3F4;
}

.layout-builder-side-nav-available-table {
  padding: 10px 0;
}

.float-right {
  float: right;
}

.layout_builder_field_settings_form_back_btn {
  margin-right: 5px;
}

.min-height-100vh {
  min-height: 100vh;
}

.text-align-right {
  text-align: right;
}

.layout-builder-trash-can-item-put-back {
  border: 1px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 3px;
}
