// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";
@import "dualListbox/bootstrap-duallistbox.min.css";


// Variables, Mixins, Base
@import "base/variables";
@import "base/mixins";
@import "base/margins_and_paddings";
@import "base/typography";
@import "base/navigation";
@import "base/buttons";
@import "base/sidebar";
@import "base/base";
@import "base/modal";
@import "base/form";

@import "view_builder";
@import "views";
@import "admin_users";
@import 'table';
@import 'layout_builder';

@import 'dashboard';

@import 'table_permissions';
@import 'components/tooltipster';
@import 'components/toastr';

@import "base/media";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

.margin-top-nav {
  margin-top: 2.5%;
}
