// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en&display=swap");

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables, Mixins, Base
@import "base/variables";
@import "base/typography";
@import "base/globals.scss";
@import "base/margins_and_paddings";
@import "base/navigation";
@import "base/buttons";
@import "base/modal";
@import "base/form";
@import "base/activity";
@import "views";
@import "admin_users";
@import 'table';
@import 'layout_builder';
@import 'single_view_builder';
@import 'dashboard';
@import 'table_permissions';
@import 'components/tooltipster';
@import 'components/toastr';
@import "base/media";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
