.header-container1-content {
  font-size: 24px;
  color: #726d73;
}

.header-container2-content {
  color: #726d73;
  font-size: 14px;
}

.main-container-content {
  color: #726d73;
  font-size: 14px;
}

.side-container-content {
  color: #726d73;
  font-size: 14px;
}

.column-visibility-settings-modal-trigger-wrapper {
  padding: 15px 10px 10px 10px;
  display: inline-block;
  float: right;
  font-size: 15px;

  a {
    text-decoration: none;
    color: #726d73
  }
}
