.data-table-permissions {
  thead {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    tr {
      background-color: $purple;
      color: white;
      height: 37px;
      th {
        padding-left: 40px;
        vertical-align: middle;
      }

      th:first-child {
        border-right: solid 1px $light-purple;
      }
    }

    .sorting, .sorting_asc, .sorting_desc {
      background : none;
    }
  }

  tbody {
    tr {
      height: 42px;
      td {
        vertical-align: middle;
        padding-left: 40px;
        font-size: 12px;
        color: $purple;
      }

      td:first-child {
        border-right: solid 1px $light-purple;
      }
    }
  }

  .clickable-row-permissions {
    cursor: pointer;

    &.shown tr td {
      padding-top: 50px;
    }

    td:first-child::before {
      font-family: FontAwesome;
      padding-right: 5px;
      content: "\f0da";
    }
  }

  #permissions--nested-table {
    width: 95%;
    right: 18px;

    tbody {
      tr {
        td {
          vertical-align: middle;
          padding-left: 40px;
          font-size: 12px;
          color: $purple;
        }

        td:first-child {
          text-align: right;
          border-right: solid 1px $light-purple;
          padding-right: 2px;
          width: 24%;

          p {
            padding-right: 9px;
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $purple;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .permissions--nested-table-data {
    width: 20%;
  }
}