.ibox-content.tables-view {
  background-color: inherit;
  border: none;
}

.nested-data-table {
  padding-left: 25px;
  background-color: inherit !important;

  thead {
    background-color: $background-gray !important;

    tr {
      background-color: $gray;
      height: 37px;

      th {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr > td:first-child {
      color: $purple;
    }

    tr > td:nth-child(2) {
      color: inherit !important;
    }
  }
}

.data-table-main {
  thead {
    background-color: #f3f3f4;
    tr {
      background-color: $gray;
      color: $purple;
      height: 37px;

      th {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  tbody {
    background-color: $background-gray;

    tr > td:nth-child(2) {
      color: $purple;
    }

    tr > td > .dataTables_wrapper {
      display: none;
    }
  }
}

.target-table-admin-users {
  thead {
    tr {
      th:last-child {
        color: #f3f3f4;
        width: 50px;
      }
    }
  }
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 80% !important;
  margin-left: 0;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-size: 0;
}

#target-table-admin-users_filter, .dataTables_filter {
  label {
    font-size: 0;
    float: left;
    width: 100%;
  }

  input {
    height: 30px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("/assets/images/icons/magnifying-glass.png");
    background-size: auto;
    background-origin: content-box;
    background-clip: border-box;
  }

  input:focus {
    background-image: none;
  }
}

.table--info {
  #target-table-admin-users_paginate, .dataTables_paginate {
    display: inline;
  }

  #target-table-admin-users_info, .dataTables_info {
    display: inline;
    line-height: 32px;
    vertical-align: top;
  }

  .dt-buttons.btn-group {
    float: right;
    min-width: 270px;

    button {
      left: 4%;
    }

    .dt-button-collection {
      left: 5% !important;
      max-height: 400px;
      overflow-x: scroll;
    }
  }

  .table--import {
    background: url(/assets/images/icons/import.png) no-repeat center left;
    padding: 6px 20px;
  }

  .table--export {
    background: url(/assets/images/icons/export.png) no-repeat center left;
    padding: 6px 20px;

    &.false {
      display: none;
    }
  }

  .table--colvis {
    background: url(/assets/images/icons/import.png) no-repeat center left;
    padding: 6px 20px;
    border: none;
  }

  .table--add {
    background: url(/assets/images/icons/plus.png) no-repeat center left;
    padding: 6px 20px;
    border: none;
    background-color: inherit;
  }

  .table--settings {
    background: url(/assets/images/icons/settings-black.png) no-repeat center left;
    padding: 6px 20px;
    border: none;
    background-color: inherit;
  }
}

div.dataTables_wrapper div.dt-buttons .buttons-csv {
  border: none;
  background-color: inherit;
}

#target-table-admin-users_paginate, .dataTables_paginate {
  .pagination > li > a {
    border: none;
    background-color: inherit;
    color: $purple;
    font-weight: 500;
  }
}

.header-container1-content {
  font-size: 24px;
  color: #726d73;
  padding-top: 10px;
  margin-bottom: 0px;
}

.header-container2-content {
  color: #726d73;
  font-size: 14px;
}

.main-container-content {
  color: #726d73;
  font-size: 14px;
}

.side-container-content {
  color: #726d73;
  font-size: 14px;
}

.column-visibility-settings-modal-trigger-wrapper {
  padding: 7px 10px 7px 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;

  a {
    text-decoration: none;
    color: #726d73
  }
}

.twilio_call_buttons {
  padding-left: 30px;
  padding-bottom: 12px;
}
.twilio_dialer_buttons {
  padding-top: 15px;
  text-align: right;
}

.draggable-list-item, #droppable-list-of-relatable-tables {
  cursor: pointer;
}

#droppable-list-of-relatable-tables {
  padding: 5px;
  min-height:30px;border: 2px dashed #eaeaea
}

.droppable-list-item-for-relatable-table {
  margin: 5px;
  padding: 10px 15px;
  background-color: #c2c2c2;
}

.draggable-list-item {
  margin: 10px;
  padding: 10px 10px;
  background-color: #c2c2c2;
}

.table--settings-dropdown {
  .dropdown {
    border: none;

    select {
      float: right;
      border-radius: 0px;
      border: none;
      border-bottom: solid 0.5px #979797;
      width: 150px;
      padding-bottom: 3px;
      background: url(/assets/images/icons/triangle.svg) no-repeat;
      background-position: 135px 8px;
    }

    #dropdown, #team {
      -webkit-appearance: none;
      /* for webkit browsers */
      -moz-appearance: none;
      /* for firefox */
      appearance: none;
      /* for modern browsers */
    }

    #dropdown::-ms-expand, #team::-ms-expand {
      display: none;
    }

    #dropdown:focus:invalid, #team:focus:invalid {
      border-color: #FD6347;
    }

    #dropdown:required:valid, #team:required:valid {
      border-color: #006400;
    }
  }
}