.task-queue--navigation-tabs {
  margin-top: 76px;
  border-bottom: 1px solid $border-grey;

  @extend .white-bg;
}

.task_queue_modal_submit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.query-builder .rules-group-container {
  border: 1px solid $border-grey;
  background: $background-grey;
  border-radius: 0;
}

.query-builder .rule-container {
  border: none;
  background: inherit;

  &:hover {
    background: $very-light-blue;
  }
}

.query-builder .rule-value-container input[type="number"],
.query-builder .rule-value-container input[type="text"],
.query-builder .rule-value-container select {
  padding: 10px;
}

.top-tab-for-queue-layout {
  margin-top: 15px;
  display: flex;
  justify-content: center;

  .nav.nav-tabs {
    border-bottom: none;

    li.active a {
      color: $purplish-grey;
      border-color: white white black;
    }

    li > a:hover {
      background: inherit;
      border-color: white;
    }

    li > a:active:hover {
      border-color: white white black;
    }
  }
}

.top-nav-for-queue-layout {
  padding-bottom: 0;

  .top-nav-item-for-queue-layout {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
  }

  .nav.nav-tabs {
    border-bottom: none;

    li.active a {
      color: $purplish-grey;
      border-color: white white black;
    }

    li > a:hover {
      background: inherit;
      border-color: white;
    }

    li > a:active:hover {
      border-color: white white black;
    }
  }
}

.task-queue-create-tab {
  padding-top: 15px auto;
  text-align: center;

  .nav.nav-tabs {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      width: inherit;
      display: flex;

      a {
        margin-right: 0;
        border-radius: 0;
        border: none;
        padding: 0;
        color: $navy;
      }

      a:hover {
        background-color: inherit;
      }
    }

    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
      cursor: pointer;
    }

    li.a {
      margin-right: 0 !important;
    }
  }
}

.top-nav-for-task-queue-field-settings {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #e3e3e3;

  .top-nav-item-for-queue-layout {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
  }

  .nav.nav-tabs {
    border-bottom: none;

    li {
      a {
        text-decoration: none;
      }

      a.active {
        text-decoration: none;
      }
    }

    li.active a {
      border: 1px solid white;
      border-bottom: 3px solid black;
    }
  }
}

#task-queue-draggable-field-settings-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 25px;
  border: 2px dashed #eaeaea;
}

.task-queue--outcome-buttons {
  display: flex;

  a {
    margin: 10px auto;
  }
}

.task_queue_side_nav {
  display: block;
  height: 40px;
}

.task-queue-settings-tab {
  padding-left: 20px;
}

.task-queue--details {
  margin: auto 0;
}
