// Basic Colors
$navy: #563D7C;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warning color
$red: #ED5565;        // Danger color
$purple: #563d7c;     // New primary colour

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badge
$label-badge-color: #5E5E5E;
$light-blue:#f3f6fb;
$background-gray: #ffffff;

// Spinner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-background: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profile-pattern: image-url("patterns/header-profile.png");
$nav-text-color: #a7b1c2;



// New basic colours
$purplish-grey: #726d73;
$greyish-brown: #444444;
$blueberry: #563d7c;
$brown-grey: #797979;
$white: #ffffff;
$boring-green: #5abc57;
$border-grey: #979797;
$nav-dark: #233645;
$button-green: #59c27c;
$info-red: #ff0000;
$dark-grey: #656565;
$dark-salmon: #c25959;