<div class="white-bg m-t m-b">
  <div id="builder"></div>
  <h3>Query Builder Rules</h3>
  <textarea name="" class="qb-rules form-control" id="myTextarea" cols="30" rows="30"></textarea>
  <button id="btn-get" type="button" name="button" class="btn btn-success">Show rules</button>
</div>

<div class="modal fade" id="new-queue-modal" tabindex="-1" role="dialog" aria-labelledby="new-queue-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: 'queues/new/new_queue_modal_screen_1' %>
    <%= render partial: 'queues/new/new_queue_modal_screen_2' %>
  </div>
</div>
