<tr>
  <td>
    <%= activity.created_at.strftime('%a, %d %b %Y at %I:%M') %>
    <span><i class="table-border-circle pull-right activity-table-circle"></i></span>
  </td>
  <td>
    <%= render_activity(activity) %>
  </td>
</tr>