<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h1>Activity history</h1>

    <ol class="breadcrumb">
      <li class="">
        <%= link_to @feedable_type.humanize, table_path(table: @feedable_type, id: @feedable_type.downcase) %>
      </li>

      <li class="">
        <%= link_to @feedable_id, table_record_preview_path(table: @feedable_type, table_name: @feedable_type, record_id: @feedable_id, database_id: @database_id) %>
      </li>
    </ol>
  </div>
</div>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <%= render 'shared/activity_history', feedable_type: @feedable_type, feedable_id: @feedable_id, index: true %>
    </div>
  </div>
</div>