<table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
  <thead>
    <tr>
      <th></th>
      <th>Registrations</th>
      <th data-hide="phone,tablet">Logged in >5 times</th>
      <th data-hide="phone,tablet">Paid subscription</th>
      <th data-hide="phone,tablet">Avg. MRR</th>
    </tr>
  </thead>

  <tbody>
    <tr class="">
      <td class="center">w/c 5th Feb</td>
      <td class="center">102 +20%</td>
      <td class="center">48 +3%</td>
      <td class="center">48 +3%</td>
      <td class="center">48 +3%</td>
    </tr>

    <tr class="">
      <td class="center">w/c 12th Feb</td>
      <td class="center">112 +10% </td>
      <td class="center">33 -20% </td>
      <td class="center">33 -20% </td>
      <td class="center">33 -20% </td>
    </tr>

    <tr class="">
      <td class="center">w/c 19th Feb</td>
      <td class="center">98-11% </td>
      <td class="center">51 +30%</td>
      <td class="center">51 +30%</td>
      <td class="center">51 +30%</td>
    </tr>

    <tr class="">
      <td class="center">w/c 26th Feb</td>
      <td class="center">120  +23% </td>
      <td class="center">60  +2% </td>
      <td class="center">60  +2% </td>
      <td class="center">60  +2% </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="5">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
  </tfoot>
</table>
