<style media="screen">
  #engagement-chart .block {
    margin: 10px 5px 0 5px;
    text-align: center;
    color: white;
  }
</style>

<div class="row" id="engagement-chart">
  <div class="col-xs-12 col-sm-4 col-lg-3 hidden-xs hidden-md hidden-sm">
    <p class="" style="margin-top: 25px; text-align: center">10+</p>
    <p class="" style="margin-top: 25px; text-align: center">5 - 10</p>
    <p class="" style="margin-top: 25px; text-align: center">2 - 5</p>
    <p class="" style="margin-top: 25px; text-align: center">1</p>
  </div>

  <div class="col-xs-12 col-sm-4 col-lg-3">
    <p style="text-align: center;margin: 10px">0-30 days</p>

    <div style="height: 40px; background-color: #2ac728;line-height: 40px" class=" block">
      Loyal (290)
    </div>

    <div style="height: 71px;background-color: #50a0e3;line-height: 71px;" class=" block">
      Promising (20)
    </div>

    <div style="height: 40px;background-color: #7e28c7;line-height: 40px;" class=" block">
      New (19)
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-lg-3">
    <p style="text-align: center; margin: 10px">30-60 days</p>

    <div style="height: 115px;background-color: #7e28c7;line-height: 115px;" class=" block">
      Drifting (20)
    </div>

    <div style="height: 40px;background-color: #ff7f43;line-height: 40px;" class=" block">
      At risk (17)
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-lg-3">
    <p style="text-align: center; margin: 10px">60-90 days</p>

    <div style="height: 115px;background-color: #cfcfcf;line-height: 115px;" class=" block">
      Sleepers (182)
    </div>

    <div style=" height: 40px;background-color: #ff0000;line-height: 40px;" class=" block">
      At risk (17)
    </div>
  </div>
</div>
