<div class="draggable-containers">
  <div class="draggable-container">
    <ul class="draggable-list">
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
  </div>

  <div class="droppable-container-1 dropzone">
    <p>droppable-container-1</p>
    <ul class="draggable-list">
      <li>item 4</li>
      <li>item 5</li>
      <li>item 6</li>
    </ul>
  </div>

  <div class="droppable-container-2 dropzone">
    <p>droppable-container-2</p>
    <ul class="draggable-list">
      <li>item 7</li>
      <li>item 8</li>
      <li>item 9</li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  (function() {
    const sortablee = new window.Draggable.Sortable(document.querySelectorAll('ul'), {
      draggable: 'li'
    });

    sortablee.on('sortable:start', () => console.log('sortable:start'));
    sortablee.on('sortable:sort', () => console.log('sortable:sort'));
    sortablee.on('sortable:sorted', () => console.log('sortable:sorted'));
    sortablee.on('sortable:stop', () => console.log('sortable:stop'));
  })

</script>
