<div class="modal fade" id="layout-builder-editable-warning-modal" tabindex="-1" role="dialog" aria-labelledby="layout-builder-editable-warning-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: 'layout_builder/edit/layout_builder_editable_warning_modal_screen_1' %>
  </div>
</div>

<div class="row border-bottom white-bg m-b">
  <div class="col-sm-12">
    <div class="text-right p-h-xs" style="">
      <%= link_to 'Preview', layout_builder_preview_path, remote: true, class: 'preview-layout' %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <%= render 'layout_builder/initial_placeholder' %>
</div>
