<div id='field_select' class='bootstrap-duallistbox-container row'>
  <div class='col-sm-8'>
    <select multiple='multiple' id='bootstrap-duallistbox-nonselected-list_' class='form-control field-select-options'>
    </select>
  </div>
  <div class='col-sm-2'>
    <button type='button' class='btn btn-block btn-primary margin-top-20' id='saveFieldConfiguration'>Next</button>
  </div>
</div>
