<style media="screen">
  .min-height-100 {
    min-height: 100%
  }

  .drag-item {
    z-index: 1;
  }
</style>

<div class="row min-height-100 white-bg" style="">
  <div class="col-sm-3 min-height-100 white-bg" style="">
    <br>
    <a class="layout-builder-nav-item active" style="" href="/" data-tab-name="layout_builder_general_settings_form">
      <i class="fa fa-wrench" aria-hidden="true"></i>
    </a>

    <a class="layout-builder-nav-item" style="" href="/" data-tab-name="layout_builder_field_settings_form">
      <i class="fa fa-database" aria-hidden="true"></i>
    </a>
  </div>

  <div class="col-sm-9 min-height-100" style="border-right: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9">
    <br>
    <div class="" style="margin: 10px 0px">
      <div class="" id="layout_builder_general_settings_form">
        <h4>General settings</h4>

        <p class="hide">
          <small>
            Saved.
          </small>
        </p>

        <%= render 'general_settings_form' %>
      </div>

      <div class="hide" id="layout_builder_field_settings_form">

        <div class="" id="layout_builder_field_settings_form_screen_1">
          <h4>Fields</h4>

          <p>Select the primary table that this layout will be based on.</p>

          <div class="" style="border-top: 1px solid #F3F3F4;"></div>

          <% @available_tables.each do |table| %>
            <div class="" style="border-bottom: 1px solid #F3F3F4; padding: 10px 0">
              <a href="#" class="layout_builder_selected_table_name" data-table-name=<%= table %>>
                <%= table %>
                <i class="fa fa-angle-right" aria-hidden="true" style="float:right;"></i>
              </a>
            </div>
          <% end %>
        </div>

        <div class="hide" id="layout_builder_field_settings_form_screen_2">
          <h4>
            <a href="#" class="layout_builder_field_settings_form_back_btn" style="margin-right: 5px">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <span id="layout_builder_selected_table_name"></span>
          </h4>

          <p>Select a table you would like to see fields for.</p>

          <div class="" style="border-top: 1px solid #F3F3F4;"></div>

          <div class="layout-builder-draggable-container" id="layout-builder-draggable-fields-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
