<div class="row white-bg min-height-100vh">
  <div class="col-sm-3 min-height-100vh">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link single_view_nav active" id="field_settings_navigation" role="tab" data-toggle="pill" href="#single_view_field_settings_form" aria-controls="field_settings" aria-selected="true">
        <i class="fa fa-database" aria-hidden="true"></i>
      </a>
      <a class="nav-link single_view_nav" id="general_settings_navigation" role="tab" data-toggle="pill" href="#single_view_general_settings_form" aria-controls="general_settings" aria-selected="false">
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="col-sm-9 layout-builder-side-nav min-height-100vh">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane active" id="single_view_field_settings_form" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="panel-body">
          <%= render 'draggable_field_settings' %>
        </div>
      </div>
      <div class="tab-pane" id="single_view_general_settings_form" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="panel-body">
          <h4>General settings</h4>
        </div>
      </div>
    </div>
  </div>
</div>


