<div role="tabpanel" class="tab-pane active" id="home">
  <div class="row">
    <div class="col-sm-1">
      <%= render 'layouts/queue_navigation' %>
    </div>

    <div class="col-sm-3 layout-builder-side-nav min-height-100vh">
      <br>
      <div class="m-t">
        <div class="tab-content" id="">
          <h4>Define what records show in your Queue.</h4>

          <p>
            Set the conditions under which records will appear in your Queue
          </p>

          <ul>
            <li>Users near or over a usage limit</li>
            <li>Companies who have not completed on boarding</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <%= render 'shared/flash_message' %>

      <%= yield %>

      <% render 'layouts/footer' %>
    </div>
  </div>
</div>
