<div id="right-sidebar">
  <div class="sidebar-container">

    <ul class="nav nav-tabs navs-3">

      <li class="active">
        <a data-toggle="tab" href="#tab-1">
            Notes
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab-2">
            Projects
        </a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#tab-3">
            <i class="fa fa-gear"></i>
        </a>
      </li>
    </ul>

    <div class="tab-content">


      <div id="tab-1" class="tab-pane active">
        <div class="sidebar-title">
          <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
        </div>
        <div>
        </div>
      </div>

      <div id="tab-2" class="tab-pane">

        <div class="sidebar-title">
          <h3> <i class="fa fa-cube"></i> Latest projects</h3>
        </div>

        <ul class="sidebar-list">
          <li>
            <a href="#">
              <div class="small pull-right m-t-xs">9 hours ago</div>
              <h4>Business valuation</h4> It is a long established fact that a reader will be distracted.

              <div class="small">Completion with: 22%</div>
              <div class="progress progress-mini">
                <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
              </div>
              <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
            </a>
          </li>
        </ul>

      </div>

      <div id="tab-3" class="tab-pane">

        <div class="sidebar-title">
          <h3><i class="fa fa-gears"></i> Settings</h3>
          <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
        </div>

        <div class="setings-item">
          <span>
            Show notifications
          </span>
          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
              <label class="onoffswitch-label" for="example">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
            </div>
          </div>
        </div>

        <div class="sidebar-content">
          <h4>Settings</h4>
          <div class="small">
            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry. And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose
            (injected humour and the like).
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
