<div class="row min-height-100vh">
  <div class="col-sm-12 min-height-100vh">
    <br>
    <a class="layout-builder-nav-item" href="/" data-tab-name="layout_builder_field_settings_form" id="layout-builder-field-settings-tab">
      <i class="fa fa-database" aria-hidden="true"></i>
    </a>

    <a class="layout-builder-nav-item" href="/" data-tab-name="layout_builder_general_settings_form" id="layout-builder-general-settings-tab">
      <i class="fa fa-wrench" aria-hidden="true"></i>
    </a>

    <a class="layout-builder-nav-item" href="/" data-tab-name="layout_builder_general_settings_form" id="layout-builder-general-settings-tab">
      <i class="fa fa-bullseye" aria-hidden="true"></i>
    </a>

    <% if active_action?("edit") %>
      <a class="layout-builder-nav-item" href="/" data-tab-name="layout_builder_phone_settings_form" id="layout-builder-phone-settings-tab">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </a>
    <% end %>
  </div>
</div>
