<div role="tabpanel" class="tab-pane" id="profile">
  <div class="row">
    <div class="col-sm-1">
      <%= render 'layouts/task_queue_navigation' %>
    </div>

    <div class="col-sm-11">
      <%= render 'shared/flash_message' %>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="task-queue-general-settings">
          <h1>General settings</h1>
        </div>

        <div role="tabpanel" class="tab-pane" id="task-queue-field-settings">
          <h1>Field settings</h1>
        </div>

        <div role="tabpanel" class="tab-pane" id="task-queue-outcome-settings">
          <h1>Outcome settings</h1>
        </div>
      </div>

      <% render 'layouts/footer' %>
    </div>
  </div>
</div>
