<div role="tabpanel" class="tab-pane" id="profile">
  <div class="row">
    <div class="col-sm-1">
      <%= render 'layouts/task_queue_navigation' %>
    </div>

    <div class="col-sm-3 layout-builder-side-nav min-height-100vh">
      <br>
      <div class="m-t">
        <div class="tab-content" id="">
          <h1>Create</h1>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <%= render 'shared/flash_message' %>

      <%# yield %>

      <% render 'layouts/footer' %>
    </div>
  </div>
</div>
