<%# <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Oh no! We seem to have lost connection to your database!
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <p>This could be due to a few simple things. Let's run through a few simple things to check before you really start panicking...</p>
      <ul>
        <li>Did you just change your database settings? Could you have typed the password wrong? Check them <%= link_to 'here', edit_admin_user_registration_path %> 
        <%# <li>Has someone changed a firewall surrounding your database so Kuwinda can no longer see it?</li>
        <li>Is your database still connected to the internet?</li>
        <li>Is your database even still alive?</li>
        <li>...</li>
        <li>Ok maybe you can start panicking now</li>
      <ul>
    </div>
  </div>
</div> %> 

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Oh no! We seem to have lost connection to your database!</h1></div>
    <div class="panel-body">
      <p>This could be due to a few simple things. Let's run through a few simple things to check before you really start panicking...</p>
      <ul>
        <li>Did you just change your database settings? Could you have typed the password wrong? Check them <%= link_to 'here', edit_admin_user_registration_path %> and then refresh the page</li>
        <li>Has someone changed a firewall surrounding your database so Kuwinda can no longer see it?</li>
        <li>Is your database still connected to the internet?</li>
        <li>Is your database even still alive?</li>
        <li>...</li>
        <li>Ok maybe you can start panicking now</li>
      <ul>
    </div>
  </div>
</div>